*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
  
    color: rgba(0, 0, 0, .50);
    font-size: 14px;
    font-family: 'Roboto' sans-serif;
    font-weight: 500;
    line-height: 1.8;
    background-color: rgb(145, 139, 139);
     width: 75%;
     margin: auto;
}
a {
    text-decoration: none;
}
.topbar {
    display: flex;
    flex-direction: row;
     background-color: white;
     justify-content: space-between;
     margin: auto;
   
     height: 150px;


}

.topbar nav  ul {
  display: flex;
  align-items: center;
  list-style-type: none;
   margin: 51px 626px 51px  36px ;
   line-height: 21px;
}

.topbar nav  ul li a  {
 color: rgba(0, 0, 0);
 padding: 12px;
 font-size: 18px;
 font-weight: 500;
}
.topbar nav ul li a:hover {
    color: #FFFFFF;
    background-color: #449DB9;
    border-radius: 5px;

}
.picture {
    margin: 50px 949px 50px 84px ;
}
.carrosel{
    display: flex;
    justify-content: space-between;
   
  margin: auto;
    background:white;
}
.title{
    color: #000000;

    font-weight: bold;
}
.name {
   font-size: 36px;
}

.title{
    align-items: center;
    padding: 100px 300px 148px 100px
}

.button-cv {
  background-color: #449DB9;
  border: none;
  color: white;
  padding: 10px 32px;
  margin: 15px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
 
}
.social ul {
    list-style-type: none;
}
.social {
 padding: 150px 10px 0 0;
 
}
.social ul img{
    width: 50px;
    height: 50px;
}


   